
<div class="container pt-5 mt-5">
    <div class="row">

        <div class="col first-col">
            <%= render 'email' %>
            <%= render 'layouts/email' %>
        </div>

        <div class="col second-col">
        <p></p>
        </div>

    </div>
</div>